.form {
    margin: 25px 0;
}

.form_input {
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    width: 431px;
    font-size: 18px;
    color: #0F121F;
}

.form_button {
    margin-left: 10px;
    background: #3D9FFF;
    padding: 10px;
    border: none;
    width: 100px;
    height: 44px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-family: inherit;
}